<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Innskráning</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script type="text/javascript">
      CKEDITOR.replace('editor')
    </script>
</body>
</html>



  <div class="jumbotron text-center">
    <h1>Innskráning</h1>
    <p class="lead">Veldu eftirfarandi</p>
    <!--{if session.logged_in == NULL %}-->
      <a href="/templates/buaTilAdgang.html" class="btn btn-primary btn-lg">Búa til aðgang</a>
      <a href="/templates/skraInn.html" class="btn btn-success btn-lg">Skrá inn</a>
    <!--{% endif %}-->
  </div>
